@page
@model SharkGaming.Pages.Login.UserAccountPageModel
@{
}

<div class="text-center">
    <h1>User info</h1>
    <p>...</p>
    <p>...</p>
    <p>...</p>

    <br />

    <a class="btn btn-danger" href="/login/logoutpage">Logout</a>
</div>
