@page 
@model SharkGaming.Pages.AdminSite.AdminMainPageModel
@{
}

<div class="column col-4">
    <table class="table table-bordered border-black align-content-start bg-dark text-white">
        <thead>
            <tr>
                <th>
                    Lists for Products types
                </th>
                <th>
                    Update
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Case
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" type="button" title="Update" asp-page="AdminCaseListPage"></i></a>
                </td>
            </tr>
            <tr>
                <td>
                    CaseFan
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" type="button" title="Update" asp-page="AdminCaseFanListPage"></i></a>
                </td>
            </tr>
            <tr>
                <td>
                    CPUAirCooling
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" type="button" title="Update" asp-page="AdminCPUAirCoolingListPage"></i></a>
                </td>
            </tr>
            <tr>
                <td>
                    CPUWaterCooling
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" type="button" title="Update" asp-page="AdminCPUWaterCoolingListPage"></i></a>
                </td>
            </tr>
            <tr>
                <td>
                    CPU
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" type="button" title="Update" asp-page="AdminCPUListPage"></i></a>
                </td>
            </tr>
            <tr>
                <td>
                    GPU
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" type="button" title="Update" asp-page="AdminGPUListPage"></i></a>
                </td>
            </tr>
            <tr>
                <td>
                    Motherboard
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" type="button" title="Update" asp-page="AdminMotherboardListPage"></i></a>
                </td>
            </tr>
            <tr>
                <td>
                    Power supply
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" type="button" title="Update" asp-page="AdminPowerSupplyListPage"></i></a>
                </td>
            </tr>
            <tr>
                <td>
                    RAM
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" type="button" title="Update" asp-page="AdminRAMListPage"></i></a>
                </td>
            </tr>
            <tr>
                <td>
                    SolidStateDrive
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" type="button" title="Update" asp-page="AdminSolidStateDriveListPage"></i></a>
                </td>
            </tr>
            <tr>
                <td>
                    Mdot.2
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" type="button" title="Update" asp-page="AdminMdot2ListPage"></i></a>
                </td>
            </tr>
            <tr>
                <td>
                    Prebuilds
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" type="button" title="Update" asp-page="AdminPrebuildsListPage"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>