@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="color:white">Welcome to Sharkgaming</h1>
</div>

<br />

<div class="row">
    <div class="column col-4">
        <a href="/ProductInfoPages/PreBuildListPage">
            <img src="~/images/index images/plugandplay.jpg" class="img-fluid">
        </a>
    </div>
    <div class="column col-4">
        <a href="/Fuckmig/EasterEgg">
            <img src="~/images/index images/buildyourownpc.jpg" class="img-fluid">
        </a>
    </div>
    <div class="column col-4">
        <a href="/ProductInfoPages/ProductListPage">
            <img src="~/Images/Index Images/TimeToUpgrade.jpg" class="img-fluid">
        </a>
    </div>
</div>
