@page
@model SharkGaming.Pages.Fuckmig.EasterEggModel
@{
}


<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div class="container mt-3">
        <div class="mt-4 p-5 bg-dark text-white rounded">
            <h1>Say hello to the DEV Team</h1>
            <h1>Truels, Tølløse, Nikita, Nuggit & Princess</h1>
            <br />
            <h4>when we wrote this program only we and god knew what we where doing, <strong>now only god knows</strong></h4>
            <a>
                <img src="~/Images/Logo Images/DevTeam.png" class="img-fluid"/>
            </a>
            <br />
            <h2><blockquote> <strong> No battle plan survives first contact with the enemy</strong> <cite> - Helmuth con moltke</cite></blockquote></h2>
            <br />
            <h2>Guess the Waddles!</h2>
            <a >
                <img src="~/images/logo images/waddles.jpg" class="container-fluid" />
            </a>
        </div>
    </div>

</body>
</html>